@model IEnumerable<MyFirstProject.Models.Episode>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    @foreach (var item in Model)
    {
        <a asp-action="ViewVideo" asp-route-id="?detailsURL=@item.DetailsURL">
            <img src="@Html.DisplayFor(modelItem=>item.ImgURL)" title="@Html.DisplayFor(modelItem => item.Anime) @Html.DisplayFor(modelItem => item.Title)" />
        </a>
    }
</div>
