@model IEnumerable<MyFirstProject.Models.Episode>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    @foreach (var item in Model)
    {
        <img src="@Html.DisplayFor(modelItem=>item.ImgURL)" title="@Html.DisplayFor(modelItem => item.Anime) @Html.DisplayNameFor(model => model.Number) @Html.DisplayFor(modelItem => item.Number)"  />
    }
</div>
